#Root{
    height: 100vh;
    width: 100vw;
}

.newForumContext{
    height: fit-content !important;

}
.newForumForm{
    display: flex  !important;
    flex-direction: column  !important;
    height: 100%  !important;
    justify-content: space-around  !important;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text{
    display: flex;
    justify-content: center;
}

.card-title{
    display: flex;
    justify-content: start;

}

.card-subtitle{
    display: flex;
    justify-content: center;
}
a.nav-link{
    margin-right: 15px;
}
.card{
    word-break:break-all;
}